# CSV

In [1]:
import pandas as pd

pd.options.display.float_format = '{:,.2f}'.format
pd.set_option('display.width', 85)
pd.set_option('display.max_columns', 8)
landtemps

In [2]:
landtemps = pd.read_csv('data/landtempssample.csv',
                        names=['stationid', 'year', 'month', 'avgtemp', 'latitude',
                               'longitude', 'elevation', 'station', 'countryid', 'country'],
                        # skip the header
                        skiprows=1,
                        parse_dates=[['month', 'year']],
                        # reduce the usage of memory during import process
                        # but finally, the data will be read into RAM
                        low_memory=False)

In [5]:
landtemps.head(7)

,month_year,stationid,avgtemp,latitude,...,elevation,station,countryid,country
0,2000-04-01,USS0010K01S,5.27,39.90,...,"2,773.70",INDIAN_CANYON,US,United States
1,1940-05-01,CI000085406,18.04,-18.35,...,58.00,ARICA,CI,Chile
2,2013-12-01,USC00036376,6.22,34.37,...,61.00,SAINT_CHARLES,US,United States
3,1963-02-01,ASN00024002,22.93,-34.28,...,65.50,BERRI_IRRIGATION,AS,Australia
4,2001-11-01,ASN00028007,NaN,-14.78,...,79.40,MUSGRAVE,AS,Australia
5,1991-04-01,USW00024151,5.59,42.15,...,"1,362.50",MALAD_CITY,US,United States
6,1993-12-01,RSM00022641,-10.17,63.90,...,13.00,ONEGA,RS,Russia

In [6]:
landtemps.dtypes

month_year    datetime64[ns]
stationid             object
avgtemp              float64
latitude             float64
longitude            float64
elevation            float64
station               object
countryid             object
country               object
dtype: object

In [8]:
# Give a better name
landtemps.rename(columns={'month_year': 'mesureday'}, inplace=True)

In [9]:
landtemps.dtypes

mesureday    datetime64[ns]
stationid            object
avgtemp             float64
latitude            float64
longitude           float64
elevation           float64
station              object
countryid            object
country              object
dtype: object

In [11]:
landtemps.avgtemp.describe()

count   85,554.00
mean        10.92
std         11.52
min        -70.70
25%          3.46
50%         12.22
75%         19.57
max         39.95
Name: avgtemp, dtype: float64

In [14]:
# Looking for missing value
# this is an example of chaining methods
# there is no rules about when to use or not to use chaining methods
# but it's helpful cause it's may be interpreted like a single step
# Chaining has also a side benefit : not creating extra objects
print(landtemps.isnull().sum())
print(landtemps.shape)
# Drop rows which have Nan
# subset is used to indicate which column to check for Nan value
landtemps.dropna(subset=['avgtemp'], inplace=True)
landtemps.shape

mesureday    0
stationid    0
avgtemp      0
latitude     0
longitude    0
elevation    0
station      0
countryid    0
country      2
dtype: int64
(85554, 9)

(85554, 9)

In [15]:
# read_csv can read a compressed file ZIP
landtemps = pd.read_csv('data/landtempssample.zip',
                        compression='zip',
                        names=['stationid', 'year', 'month', 'avgtemp', 'latitude',
                               'longitude', 'elevation', 'station', 'countryid', 'country'],
                        # skip the header
                        skiprows=1,
                        parse_dates=[['month', 'year']],
                        # reduce the usage of memory during import process
                        # but finally, the data will be read into RAM
                        low_memory=False)
landtemps

,month_year,stationid,avgtemp,latitude,...,elevation,station,countryid,country
0,2000-04-01,USS0010K01S,5.27,39.90,...,"2,773.70",INDIAN_CANYON,US,United States
1,1940-05-01,CI000085406,18.04,-18.35,...,58.00,ARICA,CI,Chile
2,2013-12-01,USC00036376,6.22,34.37,...,61.00,SAINT_CHARLES,US,United States
3,1963-02-01,ASN00024002,22.93,-34.28,...,65.50,BERRI_IRRIGATION,AS,Australia
4,2001-11-01,ASN00028007,NaN,-14.78,...,79.40,MUSGRAVE,AS,Australia
...,...,...,...,...,...,...,...,...,...
99995,1991-04-01,MXXLT347415,29.02,17.78,...,65.00,VALLE_NACIONAL_VALLE,MX,Mexico
99996,1991-11-01,RSM00032287,-2.81,57.08,...,3.00,UST_HAIRYUZOVO,RS,Russia
99997,1937-04-01,ARM00087166,19.42,-27.45,...,61.90,CORRIENTES,AR,Argentina
99998,1958-10-01,CA006137361,10.02,42.78,...,236.00,ST_THOMAS,CA,Canada
99999,1966-01-01,CA006137361,-7.85,42.78,...,236.00,ST_THOMAS,CA,Canada

# Excel

In [2]:
import pandas as pd

In [5]:
percapitaGDP = pd.read_excel("data/GDPpercapita.xlsx",
                             sheet_name="OECD.Stat export",
                             skiprows=4,
                             skipfooter=1,
                             usecols="A,C:T")
percapitaGDP

,Year,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Metropolitan areas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AUS: Australia,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..
2,AUS01: Greater Sydney,43313,44008,45424,45837,45423,45547,45880,45225,45900,45672,46535,47350,47225,48510,50075,50519,50578,49860
3,AUS02: Greater Melbourne,40125,40894,41602,42188,41484,41589,42316,40975,41384,40943,41165,41264,41157,42114,42928,42671,43025,42674
4,AUS03: Greater Brisbane,37580,37564,39080,40762,42976,44475,44635,46192,43507,42774,44166,43764,43379,43754,44388,45723,46876,46640
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
697,USA164: Linn,53047,51751,54894,58660,60195,58244,61742,60002,63176,66241,66516,66029,64187,67125,69490,69645,67553,68683
698,USA165: Lafayette (IN),38057,38723,39173,40412,40285,40879,41717,41232,37789,40621,41822,40280,41341,41680,41763,42370,42562,44206
699,USA167: Weber,34592,34997,35587,35776,37613,41213,41554,39321,38819,38171,37716,37141,36816,37418,39144,39950,40846,40930
700,USA169: Cass,44597,46856,49043,49134,49584,50417,51596,52285,49945,51396,53001,57056,56906,57475,57402,56600,55201,56094
701,USA170: Benton (AR),41988,44687,45296,47799,49260,47329,45503,44040,42369,43366,43168,44525,47191,48526,49483,48955,49987,49872

In [6]:
# View data types and non-null count :
percapitaGDP.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 702 entries, 0 to 701
Data columns (total 19 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    702 non-null    object
 1   2001    701 non-null    object
 2   2002    701 non-null    object
 3   2003    701 non-null    object
 4   2004    701 non-null    object
 5   2005    701 non-null    object
 6   2006    701 non-null    object
 7   2007    701 non-null    object
 8   2008    701 non-null    object
 9   2009    701 non-null    object
 10  2010    701 non-null    object
 11  2011    701 non-null    object
 12  2012    701 non-null    object
 13  2013    701 non-null    object
 14  2014    701 non-null    object
 15  2015    701 non-null    object
 16  2016    701 non-null    object
 17  2017    701 non-null    object
 18  2018    701 non-null    object
dtypes: object(19)
memory usage: 104.3+ KB

In [7]:
# Rename columns and remove leading spaces
percapitaGDP.rename(columns={'Year': 'metro'}, inplace=True)

In [15]:
percapitaGDP.metro.str.startswith(' ').any()

False

In [14]:
percapitaGDP.metro.str.endswith(' ').any()

False

In [13]:
percapitaGDP.metro = percapitaGDP.metro.str.strip()

In [18]:
# try to force convert data type from object to numeric
# if the data is ... -> it'll turn to Nan value
# Coerce = by force
for col in percapitaGDP.columns[1:]:
    percapitaGDP[col] = pd.to_numeric(percapitaGDP[col], errors='coerce')
    percapitaGDP.rename(columns={col: 'pcGDP' + col}, inplace=True)
percapitaGDP.head()

,metro,pcGDP2001,pcGDP2002,pcGDP2003,pcGDP2004,pcGDP2005,pcGDP2006,pcGDP2007,pcGDP2008,pcGDP2009,pcGDP2010,pcGDP2011,pcGDP2012,pcGDP2013,pcGDP2014,pcGDP2015,pcGDP2016,pcGDP2017,pcGDP2018
0,Metropolitan areas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AUS: Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AUS01: Greater Sydney,43313.0,44008.0,45424.0,45837.0,45423.0,45547.0,45880.0,45225.0,45900.0,45672.0,46535.0,47350.0,47225.0,48510.0,50075.0,50519.0,50578.0,49860.0
3,AUS02: Greater Melbourne,40125.0,40894.0,41602.0,42188.0,41484.0,41589.0,42316.0,40975.0,41384.0,40943.0,41165.0,41264.0,41157.0,42114.0,42928.0,42671.0,43025.0,42674.0
4,AUS03: Greater Brisbane,37580.0,37564.0,39080.0,40762.0,42976.0,44475.0,44635.0,46192.0,43507.0,42774.0,44166.0,43764.0,43379.0,43754.0,44388.0,45723.0,46876.0,46640.0

In [20]:
percapitaGDP.dtypes

metro         object
pcGDP2001    float64
pcGDP2002    float64
pcGDP2003    float64
pcGDP2004    float64
pcGDP2005    float64
pcGDP2006    float64
pcGDP2007    float64
pcGDP2008    float64
pcGDP2009    float64
pcGDP2010    float64
pcGDP2011    float64
pcGDP2012    float64
pcGDP2013    float64
pcGDP2014    float64
pcGDP2015    float64
pcGDP2016    float64
pcGDP2017    float64
pcGDP2018    float64
dtype: object

In [21]:
percapitaGDP.describe()

,pcGDP2001,pcGDP2002,pcGDP2003,pcGDP2004,pcGDP2005,pcGDP2006,pcGDP2007,pcGDP2008,pcGDP2009,pcGDP2010,pcGDP2011,pcGDP2012,pcGDP2013,pcGDP2014,pcGDP2015,pcGDP2016,pcGDP2017,pcGDP2018
count,424.000000,440.000000,440.000000,440.000000,447.000000,447.000000,447.000000,455.000000,471.000000,471.000000,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000,445.000000,441.000000
mean,41263.658019,41015.070455,41553.361364,42473.022727,42881.143177,43987.762864,44786.760626,44533.958242,42724.316348,43433.511677,43946.966667,44075.937500,44302.154167,44942.493750,45802.220833,46243.666667,47489.089888,48032.668934
std,11877.960193,12536.516772,12456.583153,12621.901150,13172.229181,13450.431995,13693.732714,14082.871703,13602.723246,13896.775080,14018.472002,14170.164166,14251.392256,14421.619849,14948.683819,14938.549380,15463.803389,15719.725615
min,10988.000000,11435.000000,11969.000000,12777.000000,13062.000000,13855.000000,13937.000000,2236.000000,2202.000000,2227.000000,2363.000000,2572.000000,2700.000000,2683.000000,2761.000000,2796.000000,2745.000000,2832.000000
25%,33139.250000,32636.000000,33284.750000,33864.500000,33735.500000,34540.000000,35226.000000,35094.000000,33730.000000,34294.500000,34582.750000,34808.750000,35113.750000,35766.250000,36128.500000,36584.750000,37316.000000,37908.000000
50%,39543.500000,39683.500000,40390.500000,41200.500000,41609.000000,42929.000000,43461.000000,43287.000000,41250.000000,41627.000000,42345.000000,42131.500000,42154.500000,42777.500000,43237.500000,43931.500000,45385.000000,46057.000000
75%,47971.750000,48611.000000,49354.750000,50468.250000,51025.000000,52304.000000,53043.500000,53132.000000,50739.500000,51428.500000,52568.750000,52569.750000,53087.500000,53737.250000,54134.250000,54449.750000,56023.000000,56638.000000
max,91488.000000,93566.000000,98123.000000,96242.000000,101084.000000,121053.000000,122897.000000,120158.000000,114486.000000,119658.000000,119965.000000,117348.000000,123709.000000,121011.000000,121623.000000,117879.000000,122242.000000,127468.000000

In [22]:
# how="all" : if all the columns is Nan -> delete ; else : keep
print(percapitaGDP.shape)
percapitaGDP.dropna(subset=percapitaGDP.columns[1:], how="all", inplace=True)
print(percapitaGDP.shape)

(702, 19)
(480, 19)

In [23]:
# set the index for data frame using metropolitan area column
# confirm the data of column is unique
percapitaGDP.metro.count() == percapitaGDP.metro.nunique()

True

In [24]:
percapitaGDP.set_index('metro', inplace=True)
percapitaGDP.head()

,pcGDP2001,pcGDP2002,pcGDP2003,pcGDP2004,pcGDP2005,pcGDP2006,pcGDP2007,pcGDP2008,pcGDP2009,pcGDP2010,pcGDP2011,pcGDP2012,pcGDP2013,pcGDP2014,pcGDP2015,pcGDP2016,pcGDP2017,pcGDP2018
metro,,,,,,,,,,,,,,,,,,
AUS01: Greater Sydney,43313.0,44008.0,45424.0,45837.0,45423.0,45547.0,45880.0,45225.0,45900.0,45672.0,46535.0,47350.0,47225.0,48510.0,50075.0,50519.0,50578.0,49860.0
AUS02: Greater Melbourne,40125.0,40894.0,41602.0,42188.0,41484.0,41589.0,42316.0,40975.0,41384.0,40943.0,41165.0,41264.0,41157.0,42114.0,42928.0,42671.0,43025.0,42674.0
AUS03: Greater Brisbane,37580.0,37564.0,39080.0,40762.0,42976.0,44475.0,44635.0,46192.0,43507.0,42774.0,44166.0,43764.0,43379.0,43754.0,44388.0,45723.0,46876.0,46640.0
AUS04: Greater Perth,45713.0,47371.0,48719.0,51020.0,55278.0,60142.0,62551.0,63899.0,63616.0,70111.0,73715.0,72679.0,76153.0,70395.0,66544.0,66032.0,66424.0,70390.0
AUS05: Greater Adelaide,36505.0,37194.0,37634.0,37399.0,37604.0,38151.0,39049.0,38502.0,39538.0,39309.0,39223.0,39812.0,39855.0,40306.0,40295.0,39737.0,40115.0,39924.0

In [25]:
#test
percapitaGDP.loc['AUS02: Greater Melbourne']

pcGDP2001    40125.0
pcGDP2002    40894.0
pcGDP2003    41602.0
pcGDP2004    42188.0
pcGDP2005    41484.0
pcGDP2006    41589.0
pcGDP2007    42316.0
pcGDP2008    40975.0
pcGDP2009    41384.0
pcGDP2010    40943.0
pcGDP2011    41165.0
pcGDP2012    41264.0
pcGDP2013    41157.0
pcGDP2014    42114.0
pcGDP2015    42928.0
pcGDP2016    42671.0
pcGDP2017    43025.0
pcGDP2018    42674.0
Name: AUS02: Greater Melbourne, dtype: float64

# SQL databases

In [ ]:
!pip install pymssql mysql-connector-python

In [27]:
import pandas as pd
import numpy as np
import pymssql
import mysql.connector

In [35]:
query = "SELECT studentid, school, sex, age, famsize,\
         medu AS mothereducation, fedu AS fathereducation,\
         traveltime, studytime, failures, famrel, freetime,\
         goout, g1 AS gradeperiod1, g2 AS gradeperiod2,\
         g3 AS gradeperiod3 From studentmath"
server = "pdcc.c9sqqzd5fulv.us-west-2.rds.amazonaws.com"
user = "pdccuser"
password = "pdccpass"
database = "pdcctest"

conn = pymssql.connect(server=server, user=user, password=password,
                       database=database)

studentmath = pd.read_sql(query, conn)
conn.close()

In [36]:
studentmath.dtypes

studentid          object
school             object
sex                object
age                 int64
famsize            object
mothereducation     int64
fathereducation     int64
traveltime          int64
studytime           int64
failures            int64
famrel              int64
freetime            int64
goout               int64
gradeperiod1        int64
gradeperiod2        int64
gradeperiod3        int64
dtype: object

In [37]:
studentmath.head()

,studentid,school,sex,age,famsize,mothereducation,fathereducation,traveltime,studytime,failures,famrel,freetime,goout,gradeperiod1,gradeperiod2,gradeperiod3
0,001,GP,F,18,GT3,4,4,2,2,0,4,3,4,5,6,6
1,002,GP,F,17,GT3,1,1,1,2,0,5,3,3,5,5,6
2,003,GP,F,15,LE3,1,1,1,2,3,4,3,2,7,8,10
3,004,GP,F,15,GT3,4,2,1,3,0,3,2,2,15,14,15
4,005,GP,F,16,GT3,3,3,1,2,0,4,3,2,6,10,10

In [41]:
# Rearrange columns
new_col_order = ['studentid', 'gradeperiod1', 'gradeperiod2', 'gradeperiod3', 'school', 'sex', 'age', 'famsize',
                 'mothereducation',
                 'fathereducation', 'traveltime', 'studytime', 'freetime', 'failures', 'famrel',
                 'goout']

In [43]:
studentmath = studentmath[new_col_order]
studentmath

In [47]:
# Check nan-value in studentid
studentmath.studentid.isna().sum()

0

In [49]:
# Check studentid is unique
studentmath.studentid.nunique() == studentmath.studentid.count()

True

In [50]:
# set studentid to index
studentmath.set_index("studentid", inplace=True)
studentmath

,gradeperiod1,gradeperiod2,gradeperiod3,school,sex,age,famsize,mothereducation,fathereducation,traveltime,studytime,freetime,failures,famrel,goout
studentid,,,,,,,,,,,,,,,
001,5,6,6,GP,F,18,GT3,4,4,2,2,3,0,4,4
002,5,5,6,GP,F,17,GT3,1,1,1,2,3,0,5,3
003,7,8,10,GP,F,15,LE3,1,1,1,2,3,3,4,2
004,15,14,15,GP,F,15,GT3,4,2,1,3,2,0,3,2
005,6,10,10,GP,F,16,GT3,3,3,1,2,3,0,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
391,9,9,9,MS,M,20,LE3,2,2,1,2,5,2,5,4
392,14,16,16,MS,M,17,LE3,3,1,2,1,4,0,2,5
393,10,8,7,MS,M,21,GT3,1,1,1,1,5,3,5,3
394,11,12,10,MS,M,18,LE3,3,2,3,1,4,0,4,1
395,8,9,9,MS,M,19,LE3,1,1,1,1,2,0,3,3

In [51]:
# check for missing value
studentmath.count()

gradeperiod1       395
gradeperiod2       395
gradeperiod3       395
school             395
sex                395
age                395
famsize            395
mothereducation    395
fathereducation    395
traveltime         395
studytime          395
freetime           395
failures           395
famrel             395
goout              395
dtype: int64

In [52]:
# add codes to data values
setvalues = {"famrel": {1: "1:very bad", 2: "2:bad", 3: "3:neutral",
                        4: "4:good", 5: "5:excellent"},
             "freetime": {1: "1:very low", 2: "2:low", 3: "3:neutral",
                          4: "4:high", 5: "5:very high"},
             "goout": {1: "1:very low", 2: "2:low", 3: "3:neutral",
                       4: "4:high", 5: "5:very high"},
             "mothereducation": {0: np.nan, 1: "1:k-4", 2: "2:5-9",
                                 3: "3:secondary ed", 4: "4:higher ed"},
             "fathereducation": {0: np.nan, 1: "1:k-4", 2: "2:5-9",
                                 3: "3:secondary ed", 4: "4:higher ed"}}
studentmath.replace(setvalues, inplace=True)
studentmath

,gradeperiod1,gradeperiod2,gradeperiod3,school,sex,age,famsize,mothereducation,fathereducation,traveltime,studytime,freetime,failures,famrel,goout
studentid,,,,,,,,,,,,,,,
001,5,6,6,GP,F,18,GT3,4:higher ed,4:higher ed,2,2,3:neutral,0,4:good,4:high
002,5,5,6,GP,F,17,GT3,1:k-4,1:k-4,1,2,3:neutral,0,5:excellent,3:neutral
003,7,8,10,GP,F,15,LE3,1:k-4,1:k-4,1,2,3:neutral,3,4:good,2:low
004,15,14,15,GP,F,15,GT3,4:higher ed,2:5-9,1,3,2:low,0,3:neutral,2:low
005,6,10,10,GP,F,16,GT3,3:secondary ed,3:secondary ed,1,2,3:neutral,0,4:good,2:low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
391,9,9,9,MS,M,20,LE3,2:5-9,2:5-9,1,2,5:very high,2,5:excellent,4:high
392,14,16,16,MS,M,17,LE3,3:secondary ed,1:k-4,2,1,4:high,0,2:bad,5:very high
393,10,8,7,MS,M,21,GT3,1:k-4,1:k-4,1,1,5:very high,3,5:excellent,3:neutral
394,11,12,10,MS,M,18,LE3,3:secondary ed,2:5-9,3,1,4:high,0,4:good,1:very low
395,8,9,9,MS,M,19,LE3,1:k-4,1:k-4,1,1,2:low,0,3:neutral,3:neutral

In [53]:
set_values_keys = [k for k in setvalues]
# check for any change in memory usage :
studentmath[set_values_keys].memory_usage(index=False)

famrel             3160
freetime           3160
goout              3160
mothereducation    3160
fathereducation    3160
dtype: int64

In [54]:
for col in set_values_keys:
    studentmath[col] = studentmath[col].astype('category')

In [55]:
# check again
studentmath[set_values_keys].memory_usage(index=False)

famrel             607
freetime           607
goout              607
mothereducation    599
fathereducation    599
dtype: int64

In [56]:
# calculate %
studentmath.famrel.value_counts(sort=False, normalize=True)

1:very bad     0.020253
2:bad          0.045570
3:neutral      0.172152
4:good         0.493671
5:excellent    0.268354
Name: famrel, dtype: float64

In [60]:
# use apply to calculate percentage for multi-columns
# this works because freetime and goout share a subset of values
studentmath[['freetime','goout']].apply(pd.Series.value_counts, sort=False, normalize=True)

                freetime     goout  fathereducation
1:k-4                NaN       NaN         0.208651
1:very low      0.048101  0.058228              NaN
2:5-9                NaN       NaN         0.292621
2:low           0.162025  0.260759              NaN
3:neutral       0.397468  0.329114              NaN
3:secondary ed       NaN       NaN         0.254453
4:high          0.291139  0.217722              NaN
4:higher ed          NaN       NaN         0.244275
5:very high     0.101266  0.134177              NaN

In [59]:
studentmath[['mothereducation','fathereducation']].apply(pd.Series.value_counts, sort=False, normalize=True)

                mothereducation  fathereducation
1:k-4                  0.150510         0.208651
2:5-9                  0.262755         0.292621
3:secondary ed         0.252551         0.254453
4:higher ed            0.334184         0.244275

In [ ]:
"""
Notes:
- For SQL databases, normally, data is well-structured.
- There's usually a lot of columns than what we need.
- Column's name is usually not very clear to understand.
- To pull the data from a SQL server, we have to create a connection, a query,
then we passe it to read_sql to retrieve data and load it to the data frame.
- Check if the column doesn't contain Null or Nan value and Unique before set index.
- Use count() function to check for missing value (it's very good).
- To replace a value, we need to create a dictionary, then passe it to replace method.
- To reduce the amount of storage, use 'category'.
- Some columns have 0 value, but it means that we don't have data at these rows. So
we may map it to Nan-value, then delete it.
- Map is more efficiently than Replace.
"""

# SPSS, Stata, SAS data
## SPSS

In [61]:
!pip install pyreadstat

Collecting pyreadstat
  Downloading pyreadstat-1.1.4-cp310-cp310-win_amd64.whl (1.3 MB)
Requirement already satisfied: pandas>=1.2.0 in c:\users\quocd\appdata\local\programs\python\python310\lib\site-packages (from pyreadstat) (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\quocd\appdata\local\programs\python\python310\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\quocd\appdata\local\programs\python\python310\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2021.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\quocd\appdata\local\programs\python\python310\lib\site-packages (from pandas>=1.2.0->pyreadstat) (1.21.4)
Requirement already satisfied: six>=1.5 in c:\users\quocd\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.7.3->pandas>=1.2.0->pyreadstat) (1.16.0)
Installing collected packages: pyreadstat
Successfully installed pyreadstat-1.1.4

WARNING: You are using pip version 21.3.1; however, version 22.0.4 is available.
You should consider upgrading via the 'C:\Users\quocd\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [62]:
import pandas as pd
import numpy as np
import pyreadstat

In [63]:
nls97spss, metaspss = pyreadstat.read_sav('data/nls97.sav')
nls97spss.dtypes

R0000100    float64
R0536300    float64
R0536401    float64
R0536402    float64
R1235800    float64
R1482600    float64
R9793800    float64
R9793900    float64
R9871900    float64
R9872000    float64
R9872200    float64
R9872400    float64
S8646900    float64
S8647000    float64
S8647100    float64
S8647200    float64
S8647300    float64
S8647400    float64
S8647500    float64
S8647600    float64
S8647700    float64
S8647800    float64
T6651700    float64
U1836800    float64
U1836900    float64
U1837000    float64
U1837100    float64
U1837200    float64
U1837300    float64
U1845400    float64
U1852400    float64
U1852600    float64
U1852700    float64
U2166200    float64
U2166300    float64
U2166400    float64
U2166500    float64
U2857300    float64
U2962800    float64
U2962900    float64
U2963000    float64
Z9063900    float64
dtype: object

In [64]:
nls97spss.head()

,R0000100,R0536300,R0536401,R0536402,R1235800,R1482600,R9793800,R9793900,R9871900,R9872000,...,U1852700,U2166200,U2166300,U2166400,U2166500,U2857300,U2962800,U2962900,U2963000,Z9063900
0,1.0,2.0,9.0,1981.0,1.0,4.0,350.0,470.0,309.0,310.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.0
1,2.0,1.0,7.0,1982.0,1.0,2.0,460.0,440.0,217.0,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2.0,6.0,0.0
2,3.0,2.0,9.0,1983.0,1.0,2.0,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,6.0,2.0,6.0,0.0
3,4.0,2.0,2.0,1981.0,1.0,2.0,NaN,NaN,253.0,216.0,...,1.0,NaN,NaN,NaN,NaN,NaN,3.0,2.0,6.0,4.0
4,5.0,1.0,10.0,1982.0,1.0,2.0,NaN,NaN,243.0,235.0,...,0.0,NaN,NaN,NaN,NaN,NaN,2.0,2.0,5.0,12.0

In [66]:
# Because the columns name and labels aren't descriptive,
# we can use meta-data to know what does it mean.
map_dictionary = metaspss.variable_value_labels['R0536300']
map_dictionary

{0.0: 'No Information', 1.0: 'Male', 2.0: 'Female'}

In [67]:
nls97spss['R0536300'].map(map_dictionary).value_counts(normalize=True)

Male      0.51191
Female    0.48809
Name: R0536300, dtype: float64

In [69]:
# use set_value_label to apply the description meta-data to the data frame
nls97spss = pyreadstat.set_value_labels(nls97spss, metaspss, formats_as_category=True)
nls97spss

,R0000100,R0536300,R0536401,R0536402,R1235800,R1482600,R9793800,R9793900,R9871900,R9872000,...,U1852700,U2166200,U2166300,U2166400,U2166500,U2857300,U2962800,U2962900,U2963000,Z9063900
0,1.0,Female,9.0,1981.0,Cross-sectional,Non-Black / Non-Hispanic,350.0,470.0,309.0,310.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.0
1,2.0,Male,7.0,1982.0,Cross-sectional,Hispanic,460.0,440.0,217.0,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,4 to 6 hours a week,3 to 10 hours a week,6.0,0.0
2,3.0,Female,9.0,1983.0,Cross-sectional,Hispanic,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,10 hours or more a week,3 to 10 hours a week,6.0,0.0
3,4.0,Female,2.0,1981.0,Cross-sectional,Hispanic,NaN,NaN,253.0,216.0,...,1.0,NaN,NaN,NaN,NaN,NaN,1 to 3 hours a week,3 to 10 hours a week,6.0,4.0
4,5.0,Male,10.0,1982.0,Cross-sectional,Hispanic,NaN,NaN,243.0,235.0,...,0.0,NaN,NaN,NaN,NaN,NaN,Less than 1 hour a week,3 to 10 hours a week,5.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8979,9018.0,Female,3.0,1980.0,Cross-sectional,Non-Black / Non-Hispanic,NaN,NaN,NaN,NaN,...,3.0,NaN,NaN,NaN,NaN,NaN,4 to 6 hours a week,3 to 10 hours a week,4.0,49.0
8980,9019.0,Male,9.0,1984.0,Oversample,Hispanic,NaN,NaN,NaN,NaN,...,4.0,NaN,NaN,NaN,NaN,NaN,Less than 1 hour a week,3 to 10 hours a week,6.0,0.0
8981,9020.0,Male,7.0,1980.0,Cross-sectional,Non-Black / Non-Hispanic,NaN,NaN,322.0,290.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0
8982,9021.0,Male,7.0,1980.0,Cross-sectional,Non-Black / Non-Hispanic,NaN,NaN,230.0,184.0,...,0.0,NaN,NaN,NaN,NaN,NaN,10 hours or more a week,3 to 10 hours a week,7.0,50.0
8983,9022.0,Female,1.0,1982.0,Cross-sectional,Non-Black / Non-Hispanic,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,10 hours or more a week,Less than 2 hours per week,7.0,20.0

In [71]:
nls97spss.columns = metaspss.column_labels

,PUBID - YTH ID CODE 1997,KEY!SEX (SYMBOL) 1997,KEY!BDATE M/Y (SYMBOL) 1997,KEY!BDATE M/Y (SYMBOL) 1997,CV_SAMPLE_TYPE 1997,KEY!RACE_ETHNICITY (SYMBOL) 1997,TRANS_SAT_VERBAL HSTR,TRANS_SAT_MATH HSTR,TRANS CRD GPA OVERALL HSTR,TRANS CRD GPA ENG HSTR,...,CV_BIO_CHILD_NR 2017,DIPLOMA/DEGREE RCVD? L1 2017,DIPLOMA/DEGREE RCVD? L2 2017,DIPLOMA/DEGREE RCVD? L3 2017,DIPLOMA/DEGREE RCVD? L4 2017,"EST INC WAGES, TIPS PAST YR 2017",HRS/WK R USES A COMPUTER 2017,HRS/WK R WATCHES TELEVISION 2017,HRS/NIGHT R SLEEPS 2017,CVC_WKSWK_YR_ALL L99
0,1.0,Female,9.0,1981.0,Cross-sectional,Non-Black / Non-Hispanic,350.0,470.0,309.0,310.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.0
1,2.0,Male,7.0,1982.0,Cross-sectional,Hispanic,460.0,440.0,217.0,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,4 to 6 hours a week,3 to 10 hours a week,6.0,0.0
2,3.0,Female,9.0,1983.0,Cross-sectional,Hispanic,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,10 hours or more a week,3 to 10 hours a week,6.0,0.0
3,4.0,Female,2.0,1981.0,Cross-sectional,Hispanic,NaN,NaN,253.0,216.0,...,1.0,NaN,NaN,NaN,NaN,NaN,1 to 3 hours a week,3 to 10 hours a week,6.0,4.0
4,5.0,Male,10.0,1982.0,Cross-sectional,Hispanic,NaN,NaN,243.0,235.0,...,0.0,NaN,NaN,NaN,NaN,NaN,Less than 1 hour a week,3 to 10 hours a week,5.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8979,9018.0,Female,3.0,1980.0,Cross-sectional,Non-Black / Non-Hispanic,NaN,NaN,NaN,NaN,...,3.0,NaN,NaN,NaN,NaN,NaN,4 to 6 hours a week,3 to 10 hours a week,4.0,49.0
8980,9019.0,Male,9.0,1984.0,Oversample,Hispanic,NaN,NaN,NaN,NaN,...,4.0,NaN,NaN,NaN,NaN,NaN,Less than 1 hour a week,3 to 10 hours a week,6.0,0.0
8981,9020.0,Male,7.0,1980.0,Cross-sectional,Non-Black / Non-Hispanic,NaN,NaN,322.0,290.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0
8982,9021.0,Male,7.0,1980.0,Cross-sectional,Non-Black / Non-Hispanic,NaN,NaN,230.0,184.0,...,0.0,NaN,NaN,NaN,NaN,NaN,10 hours or more a week,3 to 10 hours a week,7.0,50.0
8983,9022.0,Female,1.0,1982.0,Cross-sectional,Non-Black / Non-Hispanic,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,10 hours or more a week,Less than 2 hours per week,7.0,20.0

In [72]:
nls97spss.dtypes

PUBID - YTH ID CODE 1997                        float64
KEY!SEX (SYMBOL) 1997                          category
KEY!BDATE M/Y (SYMBOL) 1997                     float64
KEY!BDATE M/Y (SYMBOL) 1997                     float64
CV_SAMPLE_TYPE 1997                            category
KEY!RACE_ETHNICITY (SYMBOL) 1997               category
TRANS_SAT_VERBAL HSTR                           float64
TRANS_SAT_MATH HSTR                             float64
TRANS CRD GPA OVERALL HSTR                      float64
TRANS CRD GPA ENG HSTR                          float64
TRANS CRD GPA MATH HSTR                         float64
TRANS CRD GPA LP SCI HSTR                       float64
GOVT RESPONSIBILITY - PROVIDE JOBS 2006        category
GOVT RESPNSBLTY - KEEP PRICES UND CTRL 2006    category
GOVT RESPNSBLTY - HLTH CARE FOR SICK 2006      category
GOVT RESPNSBLTY -PROV ELD LIV STAND 2006       category
GOVT RESPNSBLTY -PROV IND HELP 2006            category
GOVT RESPNSBLTY -PROV UNEMP LIV STAND 2006     category
GOVT RESPNSBLTY -REDUCE INC DIFF 2006          category
GOVT RESPNSBLTY -PROV COLL FIN AID 2006        category
GOVT RESPNSBLTY -PROV DECENT HOUSING 2006      category
GOVT RESPNSBLTY -PROTECT ENVIRONMENT 2006      category
CV_BA_CREDITS L1 2011                           float64
CV_COLLEGE_TYPE L1 2017                        category
CV_COLLEGE_TYPE L2 2017                        category
CV_COLLEGE_TYPE L3 2017                        category
CV_COLLEGE_TYPE L4 2017                        category
CV_COLLEGE_TYPE L5 2017                        category
CV_COLLEGE_TYPE L6 2017                        category
CV_HGC_EVER 2017                               category
CV_MARSTAT_COLLAPSED 2017                      category
CV_BIO_CHILD_HH 2017                            float64
CV_BIO_CHILD_NR 2017                            float64
DIPLOMA/DEGREE RCVD? L1 2017                   category
DIPLOMA/DEGREE RCVD? L2 2017                   category
DIPLOMA/DEGREE RCVD? L3 2017                   category
DIPLOMA/DEGREE RCVD? L4 2017                   category
EST INC WAGES, TIPS PAST YR 2017               category
HRS/WK R USES A COMPUTER 2017                  category
HRS/WK R WATCHES TELEVISION 2017               category
HRS/NIGHT R SLEEPS 2017                         float64
CVC_WKSWK_YR_ALL L99                            float64
dtype: object

In [74]:
nls97spss.columns = nls97spss.columns.str.lower().str.replace(' ', '_').\
                    str.replace('[^a-z0-9_]', '')
nls97spss.dtypes

C:\Users\quocd\AppData\Local\Temp/ipykernel_5736/1169428353.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  str.replace('[^a-z0-9_]', '')

pubid__yth_id_code_1997                        float64
keysex_symbol_1997                            category
keybdate_my_symbol_1997                        float64
keybdate_my_symbol_1997                        float64
cv_sample_type_1997                           category
keyrace_ethnicity_symbol_1997                 category
trans_sat_verbal_hstr                          float64
trans_sat_math_hstr                            float64
trans_crd_gpa_overall_hstr                     float64
trans_crd_gpa_eng_hstr                         float64
trans_crd_gpa_math_hstr                        float64
trans_crd_gpa_lp_sci_hstr                      float64
govt_responsibility__provide_jobs_2006        category
govt_respnsblty__keep_prices_und_ctrl_2006    category
govt_respnsblty__hlth_care_for_sick_2006      category
govt_respnsblty_prov_eld_liv_stand_2006       category
govt_respnsblty_prov_ind_help_2006            category
govt_respnsblty_prov_unemp_liv_stand_2006     category
govt_respnsblty_reduce_inc_diff_2006          category
govt_respnsblty_prov_coll_fin_aid_2006        category
govt_respnsblty_prov_decent_housing_2006      category
govt_respnsblty_protect_environment_2006      category
cv_ba_credits_l1_2011                          float64
cv_college_type_l1_2017                       category
cv_college_type_l2_2017                       category
cv_college_type_l3_2017                       category
cv_college_type_l4_2017                       category
cv_college_type_l5_2017                       category
cv_college_type_l6_2017                       category
cv_hgc_ever_2017                              category
cv_marstat_collapsed_2017                     category
cv_bio_child_hh_2017                           float64
cv_bio_child_nr_2017                           float64
diplomadegree_rcvd_l1_2017                    category
diplomadegree_rcvd_l2_2017                    category
diplomadegree_rcvd_l3_2017                    category
diplomadegree_rcvd_l4_2017                    category
est_inc_wages_tips_past_yr_2017               category
hrswk_r_uses_a_computer_2017                  category
hrswk_r_watches_television_2017               category
hrsnight_r_sleeps_2017                         float64
cvc_wkswk_yr_all_l99                           float64
dtype: object

In [75]:
nls97spss.set_index('pubid__yth_id_code_1997', inplace=True)
nls97spss

,keysex_symbol_1997,keybdate_my_symbol_1997,keybdate_my_symbol_1997,cv_sample_type_1997,keyrace_ethnicity_symbol_1997,trans_sat_verbal_hstr,trans_sat_math_hstr,trans_crd_gpa_overall_hstr,trans_crd_gpa_eng_hstr,trans_crd_gpa_math_hstr,...,cv_bio_child_nr_2017,diplomadegree_rcvd_l1_2017,diplomadegree_rcvd_l2_2017,diplomadegree_rcvd_l3_2017,diplomadegree_rcvd_l4_2017,est_inc_wages_tips_past_yr_2017,hrswk_r_uses_a_computer_2017,hrswk_r_watches_television_2017,hrsnight_r_sleeps_2017,cvc_wkswk_yr_all_l99
pubid__yth_id_code_1997,,,,,,,,,,,,,,,,,,,,,
1.0,Female,9.0,1981.0,Cross-sectional,Non-Black / Non-Hispanic,350.0,470.0,309.0,310.0,293.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.0
2.0,Male,7.0,1982.0,Cross-sectional,Hispanic,460.0,440.0,217.0,280.0,114.0,...,NaN,NaN,NaN,NaN,NaN,NaN,4 to 6 hours a week,3 to 10 hours a week,6.0,0.0
3.0,Female,9.0,1983.0,Cross-sectional,Hispanic,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,10 hours or more a week,3 to 10 hours a week,6.0,0.0
4.0,Female,2.0,1981.0,Cross-sectional,Hispanic,NaN,NaN,253.0,216.0,195.0,...,1.0,NaN,NaN,NaN,NaN,NaN,1 to 3 hours a week,3 to 10 hours a week,6.0,4.0
5.0,Male,10.0,1982.0,Cross-sectional,Hispanic,NaN,NaN,243.0,235.0,293.0,...,0.0,NaN,NaN,NaN,NaN,NaN,Less than 1 hour a week,3 to 10 hours a week,5.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9018.0,Female,3.0,1980.0,Cross-sectional,Non-Black / Non-Hispanic,NaN,NaN,NaN,NaN,NaN,...,3.0,NaN,NaN,NaN,NaN,NaN,4 to 6 hours a week,3 to 10 hours a week,4.0,49.0
9019.0,Male,9.0,1984.0,Oversample,Hispanic,NaN,NaN,NaN,NaN,NaN,...,4.0,NaN,NaN,NaN,NaN,NaN,Less than 1 hour a week,3 to 10 hours a week,6.0,0.0
9020.0,Male,7.0,1980.0,Cross-sectional,Non-Black / Non-Hispanic,NaN,NaN,322.0,290.0,293.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0
9021.0,Male,7.0,1980.0,Cross-sectional,Non-Black / Non-Hispanic,NaN,NaN,230.0,184.0,343.0,...,0.0,NaN,NaN,NaN,NaN,NaN,10 hours or more a week,3 to 10 hours a week,7.0,50.0
9022.0,Female,1.0,1982.0,Cross-sectional,Non-Black / Non-Hispanic,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,10 hours or more a week,Less than 2 hours per week,7.0,20.0

## Stata

In [ ]:
nls97stata, metastata = pyreadstat.read_dta('data/nls97.dta', apply_value_formats=True,
                                            formats_as_category=True)

In [79]:
nls97stata.columns = metastata.column_labels
nls97stata.columns = nls97stata.columns.str.lower().str.replace(' ', '_').\
                                        str.replace('[^a-z0-9_]', '')
nls97stata.dtypes

C:\Users\quocd\AppData\Local\Temp/ipykernel_5736/1477588639.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  str.replace('[^a-z0-9_]', '')

pubid__yth_id_code_1997                        float64
keysex_symbol_1997                            category
keybdate_my_symbol_1997                        float64
keybdate_my_symbol_1997                        float64
cv_sample_type_1997                           category
keyrace_ethnicity_symbol_1997                 category
trans_sat_verbal_hstr                          float64
trans_sat_math_hstr                            float64
trans_crd_gpa_overall_hstr                     float64
trans_crd_gpa_eng_hstr                         float64
trans_crd_gpa_math_hstr                        float64
trans_crd_gpa_lp_sci_hstr                      float64
govt_responsibility__provide_jobs_2006        category
govt_respnsblty__keep_prices_und_ctrl_2006    category
govt_respnsblty__hlth_care_for_sick_2006      category
govt_respnsblty_prov_eld_liv_stand_2006       category
govt_respnsblty_prov_ind_help_2006            category
govt_respnsblty_prov_unemp_liv_stand_2006     category
govt_respnsblty_reduce_inc_diff_2006          category
govt_respnsblty_prov_coll_fin_aid_2006        category
govt_respnsblty_prov_decent_housing_2006      category
govt_respnsblty_protect_environment_2006      category
cv_ba_credits_l1_2011                          float64
cv_college_type_l1_2017                       category
cv_college_type_l2_2017                       category
cv_college_type_l3_2017                       category
cv_college_type_l4_2017                       category
cv_college_type_l5_2017                       category
cv_college_type_l6_2017                       category
cv_hgc_ever_2017                              category
cv_marstat_collapsed_2017                     category
cv_bio_child_hh_2017                           float64
cv_bio_child_nr_2017                           float64
diplomadegree_rcvd_l1_2017                    category
diplomadegree_rcvd_l2_2017                    category
diplomadegree_rcvd_l3_2017                    category
diplomadegree_rcvd_l4_2017                    category
est_inc_wages_tips_past_yr_2017               category
hrswk_r_uses_a_computer_2017                  category
hrswk_r_watches_television_2017               category
hrsnight_r_sleeps_2017                         float64
cvc_wkswk_yr_all_l99                           float64
dtype: object

In [80]:
nls97stata.head()

,pubid__yth_id_code_1997,keysex_symbol_1997,keybdate_my_symbol_1997,keybdate_my_symbol_1997,cv_sample_type_1997,keyrace_ethnicity_symbol_1997,trans_sat_verbal_hstr,trans_sat_math_hstr,trans_crd_gpa_overall_hstr,trans_crd_gpa_eng_hstr,...,cv_bio_child_nr_2017,diplomadegree_rcvd_l1_2017,diplomadegree_rcvd_l2_2017,diplomadegree_rcvd_l3_2017,diplomadegree_rcvd_l4_2017,est_inc_wages_tips_past_yr_2017,hrswk_r_uses_a_computer_2017,hrswk_r_watches_television_2017,hrsnight_r_sleeps_2017,cvc_wkswk_yr_all_l99
0,1.0,Female,9.0,1981.0,Cross-sectional,Non-Black / Non-Hispanic,350.0,470.0,309.0,310.0,...,-5.0,-5.0,-5.0,-5.0,-5.0,-5.0,-5.0,-5.0,-5.0,52.0
1,2.0,Male,7.0,1982.0,Cross-sectional,Hispanic,460.0,440.0,217.0,280.0,...,-4.0,-4.0,-4.0,-4.0,-4.0,-4.0,4 to 6 hours a week,3 to 10 hours a week,6.0,0.0
2,3.0,Female,9.0,1983.0,Cross-sectional,Hispanic,-4.0,-4.0,-4.0,-4.0,...,0.0,-4.0,-4.0,-4.0,-4.0,-1.0,10 hours or more a week,3 to 10 hours a week,6.0,0.0
3,4.0,Female,2.0,1981.0,Cross-sectional,Hispanic,-4.0,-4.0,253.0,216.0,...,1.0,-4.0,-4.0,-4.0,-4.0,-4.0,1 to 3 hours a week,3 to 10 hours a week,6.0,4.0
4,5.0,Male,10.0,1982.0,Cross-sectional,Hispanic,-4.0,-4.0,243.0,235.0,...,0.0,-4.0,-4.0,-4.0,-4.0,-4.0,Less than 1 hour a week,3 to 10 hours a week,5.0,12.0

In [81]:
nls97stata.govt_responsibility__provide_jobs_2006.value_counts(sort=False)

-5.0                        1425
-4.0                        5665
-2.0                          56
-1.0                           5
Definitely should be         454
Definitely should not be     300
Probably should be           617
Probably should not be       462
Name: govt_responsibility__provide_jobs_2006, dtype: int64

In [82]:
nls97stata.min()

C:\Users\quocd\AppData\Local\Temp/ipykernel_5736/287655406.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  nls97stata.min()

pubid__yth_id_code_1997          1.0
keybdate_my_symbol_1997          1.0
keybdate_my_symbol_1997       1980.0
trans_sat_verbal_hstr           -4.0
trans_sat_math_hstr             -4.0
trans_crd_gpa_overall_hstr      -9.0
trans_crd_gpa_eng_hstr          -9.0
trans_crd_gpa_math_hstr         -9.0
trans_crd_gpa_lp_sci_hstr       -9.0
cv_ba_credits_l1_2011           -5.0
cv_bio_child_hh_2017            -5.0
cv_bio_child_nr_2017            -5.0
hrsnight_r_sleeps_2017          -5.0
cvc_wkswk_yr_all_l99            -4.0
dtype: float64

In [83]:
nls97stata.replace(list(range(-9, 0)), np.nan, inplace=True)
nls97stata.min()

C:\Users\quocd\AppData\Local\Temp/ipykernel_5736/1365568892.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  nls97stata.min()

pubid__yth_id_code_1997          1.0
keybdate_my_symbol_1997          1.0
keybdate_my_symbol_1997       1980.0
trans_sat_verbal_hstr           14.0
trans_sat_math_hstr              7.0
trans_crd_gpa_overall_hstr      10.0
trans_crd_gpa_eng_hstr           0.0
trans_crd_gpa_math_hstr          0.0
trans_crd_gpa_lp_sci_hstr        0.0
cv_ba_credits_l1_2011            0.0
cv_bio_child_hh_2017             0.0
cv_bio_child_nr_2017             0.0
hrsnight_r_sleeps_2017           0.0
cvc_wkswk_yr_all_l99             0.0
dtype: float64

In [84]:
nls97stata.set_index('pubid__yth_id_code_1997', inplace=True)
nls97stata

,keysex_symbol_1997,keybdate_my_symbol_1997,keybdate_my_symbol_1997,cv_sample_type_1997,keyrace_ethnicity_symbol_1997,trans_sat_verbal_hstr,trans_sat_math_hstr,trans_crd_gpa_overall_hstr,trans_crd_gpa_eng_hstr,trans_crd_gpa_math_hstr,...,cv_bio_child_nr_2017,diplomadegree_rcvd_l1_2017,diplomadegree_rcvd_l2_2017,diplomadegree_rcvd_l3_2017,diplomadegree_rcvd_l4_2017,est_inc_wages_tips_past_yr_2017,hrswk_r_uses_a_computer_2017,hrswk_r_watches_television_2017,hrsnight_r_sleeps_2017,cvc_wkswk_yr_all_l99
pubid__yth_id_code_1997,,,,,,,,,,,,,,,,,,,,,
1.0,Female,9.0,1981.0,Cross-sectional,Non-Black / Non-Hispanic,350.0,470.0,309.0,310.0,293.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.0
2.0,Male,7.0,1982.0,Cross-sectional,Hispanic,460.0,440.0,217.0,280.0,114.0,...,NaN,NaN,NaN,NaN,NaN,NaN,4 to 6 hours a week,3 to 10 hours a week,6.0,0.0
3.0,Female,9.0,1983.0,Cross-sectional,Hispanic,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,10 hours or more a week,3 to 10 hours a week,6.0,0.0
4.0,Female,2.0,1981.0,Cross-sectional,Hispanic,NaN,NaN,253.0,216.0,195.0,...,1.0,NaN,NaN,NaN,NaN,NaN,1 to 3 hours a week,3 to 10 hours a week,6.0,4.0
5.0,Male,10.0,1982.0,Cross-sectional,Hispanic,NaN,NaN,243.0,235.0,293.0,...,0.0,NaN,NaN,NaN,NaN,NaN,Less than 1 hour a week,3 to 10 hours a week,5.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9018.0,Female,3.0,1980.0,Cross-sectional,Non-Black / Non-Hispanic,NaN,NaN,NaN,NaN,NaN,...,3.0,NaN,NaN,NaN,NaN,NaN,4 to 6 hours a week,3 to 10 hours a week,4.0,49.0
9019.0,Male,9.0,1984.0,Oversample,Hispanic,NaN,NaN,NaN,NaN,NaN,...,4.0,NaN,NaN,NaN,NaN,NaN,Less than 1 hour a week,3 to 10 hours a week,6.0,0.0
9020.0,Male,7.0,1980.0,Cross-sectional,Non-Black / Non-Hispanic,NaN,NaN,322.0,290.0,293.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0
9021.0,Male,7.0,1980.0,Cross-sectional,Non-Black / Non-Hispanic,NaN,NaN,230.0,184.0,343.0,...,0.0,NaN,NaN,NaN,NaN,NaN,10 hours or more a week,3 to 10 hours a week,7.0,50.0
9022.0,Female,1.0,1982.0,Cross-sectional,Non-Black / Non-Hispanic,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,10 hours or more a week,Less than 2 hours per week,7.0,20.0

# R

In [1]:
!pip install pyreadr

Collecting pyreadr
  Downloading pyreadr-0.4.4-cp310-cp310-win_amd64.whl (1.1 MB)
Requirement already satisfied: pandas>=1.2.0 in c:\users\quocd\appdata\local\programs\python\python310\lib\site-packages (from pyreadr) (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\quocd\appdata\local\programs\python\python310\lib\site-packages (from pandas>=1.2.0->pyreadr) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\quocd\appdata\local\programs\python\python310\lib\site-packages (from pandas>=1.2.0->pyreadr) (2021.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\quocd\appdata\local\programs\python\python310\lib\site-packages (from pandas>=1.2.0->pyreadr) (1.21.4)
Requirement already satisfied: six>=1.5 in c:\users\quocd\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.7.3->pandas>=1.2.0->pyreadr) (1.16.0)
Installing collected packages: pyreadr
Successfully installed pyreadr-0.4.4

WARNING: You are using pip version 21.3.1; however, version 22.0.4 is available.
You should consider upgrading via the 'C:\Users\quocd\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [2]:
import pandas as pd
import numpy as np
import pyreadr
import pprint

In [5]:
# this return an object having key None -> use [None] to retrieve the data
# {None : data}
nls97r = pyreadr.read_r('data/nls97.rds')[None]
nls97r

,R0000100,R0536300,R0536401,R0536402,R1235800,R1482600,R9793800,R9793900,R9871900,R9872000,...,U1852700,U2166200,U2166300,U2166400,U2166500,U2857300,U2962800,U2962900,U2963000,Z9063900
0,1,2,9,1981,1,4,350,470,309,310,...,-5,-5,-5,-5,-5,-5,-5,-5,-5,52
1,2,1,7,1982,1,2,460,440,217,280,...,-4,-4,-4,-4,-4,-4,4,2,6,0
2,3,2,9,1983,1,2,-4,-4,-4,-4,...,0,-4,-4,-4,-4,-1,6,2,6,0
3,4,2,2,1981,1,2,-4,-4,253,216,...,1,-4,-4,-4,-4,-4,3,2,6,4
4,5,1,10,1982,1,2,-4,-4,243,235,...,0,-4,-4,-4,-4,-4,2,2,5,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8979,9018,2,3,1980,1,4,-4,-4,-4,-4,...,3,-4,-4,-4,-4,-4,4,2,4,49
8980,9019,1,9,1984,0,2,-4,-4,-4,-4,...,4,-4,-4,-4,-4,-4,2,2,6,0
8981,9020,1,7,1980,1,4,-4,-4,322,290,...,-5,-5,-5,-5,-5,-5,-5,-5,-5,15
8982,9021,1,7,1980,1,4,-4,-4,230,184,...,0,-4,-4,-4,-4,-4,6,2,7,50
8983,9022,2,1,1982,1,4,-4,-4,-4,-4,...,0,-4,-4,-4,-4,-4,6,1,7,20

In [6]:
# set up a dictionary which map columns -> value labels
with open('data/nlscodes.txt', 'r') as reader:
    setvalues = eval(reader.read())

pprint.pprint(setvalues)

{'R0536300': {0.0: 'No Information', 1.0: 'Male', 2.0: 'Female'},
 'R1235800': {0.0: 'Oversample', 1.0: 'Cross-sectional'},
 'S8646900': {1.0: '1. Definitely',
              2.0: '2. Probably ',
              3.0: '3. Probably not',
              4.0: '4. Definitely not'},
 'S8647000': {1.0: '1. Definitely',
              2.0: '2. Probably ',
              3.0: '3. Probably not',
              4.0: '4. Definitely not'},
 'S8647100': {1.0: '1. Definitely',
              2.0: '2. Probably ',
              3.0: '3. Probably not',
              4.0: '4. Definitely not'},
 'S8647200': {1.0: '1. Definitely',
              2.0: '2. Probably ',
              3.0: '3. Probably not',
              4.0: '4. Definitely not'},
 'S8647300': {1.0: '1. Definitely',
              2.0: '2. Probably ',
              3.0: '3. Probably not',
              4.0: '4. Definitely not'},
 'S8647400': {1.0: '1. Definitely',
              2.0: '2. Probably ',
              3.0: '3. Probably not',
              4.0: '4. Definitely not'},
 'S8647500': {1.0: '1. Definitely',
              2.0: '2. Probably ',
              3.0: '3. Probably not',
              4.0: '4. Definitely not'},
 'S8647600': {1.0: '1. Definitely',
              2.0: '2. Probably ',
              3.0: '3. Probably not',
              4.0: '4. Definitely not'},
 'S8647700': {1.0: '1. Definitely',
              2.0: '2. Probably ',
              3.0: '3. Probably not',
              4.0: '4. Definitely not'},
 'S8647800': {1.0: '1. Definitely',
              2.0: '2. Probably ',
              3.0: '3. Probably not',
              4.0: '4. Definitely not'},
 'U1836800': {1.0: 'Public ',
              2.0: 'Private not-for-profit',
              3.0: 'Private for-profit'},
 'U1836900': {1.0: 'Public ',
              2.0: 'Private not-for-profit',
              3.0: 'Private for-profit'},
 'U1837000': {1.0: 'Public ',
              2.0: 'Private not-for-profit',
              3.0: 'Private for-profit'},
 'U1837100': {1.0: 'Public ',
              2.0: 'Private not-for-profit',
              3.0: 'Private for-profit'},
 'U1837200': {1.0: 'Public ',
              2.0: 'Private not-for-profit',
              3.0: 'Private for-profit'},
 'U1837300': {1.0: 'Public ',
              2.0: 'Private not-for-profit',
              3.0: 'Private for-profit'},
 'U1845400': {0.0: 'NONE',
              1.0: 'A. 1ST GRADE',
              2.0: 'B. 2ND GRADE',
              3.0: 'C. 3RD GRADE',
              4.0: 'D. 4TH GRADE',
              5.0: 'E. 5TH GRADE',
              6.0: 'F. 6TH GRADE',
              7.0: 'G. 7TH GRADE',
              8.0: 'H. 8TH GRADE',
              9.0: 'I. 9TH GRADE',
              10.0: 'J. 10TH GRADE',
              11.0: 'K. 11TH GRADE',
              12.0: 'L. 12TH GRADE',
              13.0: 'M. 1ST YEAR COLLEGE',
              14.0: 'N. 2ND YEAR COLLEGE',
              15.0: 'O. 3RD YEAR COLLEGE',
              16.0: 'P. 4TH YEAR COLLEGE',
              17.0: 'Q. 5TH YEAR COLLEGE',
              18.0: 'R. 6TH YEAR COLLEGE',
              19.0: 'S. 7TH YEAR COLLEGE',
              20.0: 'T. 8TH YEAR COLLEGE OR MORE',
              95.0: '99. UNGRADED'},
 'U1852400': {0.0: 'Never-married',
              1.0: 'Married',
              2.0: 'Separated',
              3.0: 'Divorced',
              4.0: 'Widowed'},
 'U2166200': {1.0: '1. Associate/Junior College or two-year associate degree '
                   '(AA)',
              2.0: '2. Vocational or technical certificate',
              3.0: "3. Bachelor's degree (BA, BS or unspecified)",
              4.0: "4. Master's degree (MA, MBA, MS, MSW)",
              5.0: '5. Doctoral Degree (PhD)',
              6.0: '6. Professional Degree (MD, LLD, DDS, JD)',
              7.0: '7. No degree received',
              8.0: '8. OTHER (SPECIFY)',
              9.0: '9. GED',
              999.0: '999. UNCODEABLE'},
 'U2166300': {1.0: '1. Associate/Junior College or two-year associate degree '
                   '(AA)',
              2.0: '2. Vocational or technical certificate',
              3.0: "3. Bachelor's degree (BA, BS or unspecified)",
              4.0: "4. Master's degree (MA, MBA, MS, MSW)",
              5.0: '5. Doctoral Degree (PhD)',
              6.0: '6. Professional Degree (MD, LLD, DDS, JD)',
              7.0: '7. No degree received',
              8.0: '8. OTHER (SPECIFY)',
              9.0: '9. GED',
              999.0: '999. UNCODEABLE'},
 'U2166400': {1.0: '1. Associate/Junior College or two-year associate degree '
                   '(AA)',
              2.0: '2. Vocational or technical certificate',
              3.0: "3. Bachelor's degree (BA, BS or unspecified)",
              4.0: "4. Master's degree (MA, MBA, MS, MSW)",
              5.0: '5. Doctoral Degree (PhD)',
              6.0: '6. Professional Degree (MD, LLD, DDS, JD)',
              7.0: '7. No degree received',
              8.0: '8. OTHER (SPECIFY)',
              9.0: '9. GED',
              999.0: '999. UNCODEABLE'},
 'U2166500': {1.0: 'Associate/Junior College or two-year associate degree (AA)',
              2.0: '2. Vocational or technical certificate',
              3.0: "3. Bachelor's degree (BA, BS or unspecified)",
              4.0: "4. Master's degree (MA, MBA, MS, MSW)",
              5.0: '5. Doctoral Degree (PhD)',
              6.0: '6. Professional Degree (MD, LLD, DDS, JD)',
              7.0: '7. No degree received',
              8.0: '8. OTHER (SPECIFY)',
              9.0: '9. GED',
              999.0: '999. UNCODEABLE'},
 'U2857300': {1.0: 'A. $1 - $5,000',
              2.0: 'B. $5,001 - $10,000',
              3.0: 'C. $10,001 - $25,000',
              4.0: 'D. $25,001 - $50,000',
              5.0: 'E. $50,001 - $100,000',
              6.0: 'F. $100,001 - $250,000',
              7.0: 'G. More than $250,000'},
 'U2962800': {1.0: '1. None',
              2.0: '2. Less than 1 hour a week',
              3.0: '3. 1 to 3 hours a week',
              4.0: '4. 4 to 6 hours a week',
              5.0: '5. 7 to 9 hours a week',
              6.0: '6. 10 hours or more a week'},
 'U2962900': {1.0: '1. Less than 2 hours per week',
              2.0: '2. 3 to 10 hours a week',
              3.0: '3. 11 to 20 hours a week',
              4.0: '4. 21 to 30 hours a week',
              5.0: '5. 31 to 40 hours a week',
              6.0: '6. More than 40 hours a week'}}

In [7]:
newcols = ['personid','gender','birthmonth','birthyear',
           'sampletype',  'category','satverbal','satmath',
           'gpaoverall','gpaeng','gpamath','gpascience','govjobs',
           'govprices','govhealth','goveld','govind','govunemp',
           'govinc','govcollege','govhousing','govenvironment',
           'bacredits','coltype1','coltype2','coltype3','coltype4',
           'coltype5','coltype6','highestgrade','maritalstatus',
           'childnumhome','childnumaway','degreecol1',
           'degreecol2','degreecol3','degreecol4','wageincome',
           'weeklyhrscomputer','weeklyhrstv',
           'nightlyhrssleep','weeksworkedlastyear']

In [8]:
nls97r.replace(setvalues, inplace=True)
nls97r

,R0000100,R0536300,R0536401,R0536402,R1235800,R1482600,R9793800,R9793900,R9871900,R9872000,...,U1852700,U2166200,U2166300,U2166400,U2166500,U2857300,U2962800,U2962900,U2963000,Z9063900
0,1,Female,9,1981,Cross-sectional,4,350,470,309,310,...,-5,-5,-5,-5,-5,-5,-5,-5,-5,52
1,2,Male,7,1982,Cross-sectional,2,460,440,217,280,...,-4,-4,-4,-4,-4,-4,4. 4 to 6 hours a week,2. 3 to 10 hours a week,6,0
2,3,Female,9,1983,Cross-sectional,2,-4,-4,-4,-4,...,0,-4,-4,-4,-4,-1,6. 10 hours or more a week,2. 3 to 10 hours a week,6,0
3,4,Female,2,1981,Cross-sectional,2,-4,-4,253,216,...,1,-4,-4,-4,-4,-4,3. 1 to 3 hours a week,2. 3 to 10 hours a week,6,4
4,5,Male,10,1982,Cross-sectional,2,-4,-4,243,235,...,0,-4,-4,-4,-4,-4,2. Less than 1 hour a week,2. 3 to 10 hours a week,5,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8979,9018,Female,3,1980,Cross-sectional,4,-4,-4,-4,-4,...,3,-4,-4,-4,-4,-4,4. 4 to 6 hours a week,2. 3 to 10 hours a week,4,49
8980,9019,Male,9,1984,Oversample,2,-4,-4,-4,-4,...,4,-4,-4,-4,-4,-4,2. Less than 1 hour a week,2. 3 to 10 hours a week,6,0
8981,9020,Male,7,1980,Cross-sectional,4,-4,-4,322,290,...,-5,-5,-5,-5,-5,-5,-5,-5,-5,15
8982,9021,Male,7,1980,Cross-sectional,4,-4,-4,230,184,...,0,-4,-4,-4,-4,-4,6. 10 hours or more a week,2. 3 to 10 hours a week,7,50
8983,9022,Female,1,1982,Cross-sectional,4,-4,-4,-4,-4,...,0,-4,-4,-4,-4,-4,6. 10 hours or more a week,1. Less than 2 hours per week,7,20

In [10]:
nls97r.replace(list(range(-9,0)), np.nan, inplace=True)
nls97r

,R0000100,R0536300,R0536401,R0536402,R1235800,R1482600,R9793800,R9793900,R9871900,R9872000,...,U1852700,U2166200,U2166300,U2166400,U2166500,U2857300,U2962800,U2962900,U2963000,Z9063900
0,1.0,Female,9.0,1981.0,Cross-sectional,4.0,350.0,470.0,309.0,310.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.0
1,2.0,Male,7.0,1982.0,Cross-sectional,2.0,460.0,440.0,217.0,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,4. 4 to 6 hours a week,2. 3 to 10 hours a week,6.0,0.0
2,3.0,Female,9.0,1983.0,Cross-sectional,2.0,460.0,440.0,217.0,280.0,...,0.0,NaN,NaN,NaN,NaN,NaN,6. 10 hours or more a week,2. 3 to 10 hours a week,6.0,0.0
3,4.0,Female,2.0,1981.0,Cross-sectional,2.0,460.0,440.0,253.0,216.0,...,1.0,NaN,NaN,NaN,NaN,NaN,3. 1 to 3 hours a week,2. 3 to 10 hours a week,6.0,4.0
4,5.0,Male,10.0,1982.0,Cross-sectional,2.0,460.0,440.0,243.0,235.0,...,0.0,NaN,NaN,NaN,NaN,NaN,2. Less than 1 hour a week,2. 3 to 10 hours a week,5.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8979,9018.0,Female,3.0,1980.0,Cross-sectional,4.0,440.0,420.0,336.0,308.0,...,3.0,2. Vocational or technical certificate,"3. Bachelor's degree (BA, BS or unspecified)","3. Bachelor's degree (BA, BS or unspecified)","3. Bachelor's degree (BA, BS or unspecified)","C. $10,001 - $25,000",4. 4 to 6 hours a week,2. 3 to 10 hours a week,4.0,49.0
8980,9019.0,Male,9.0,1984.0,Oversample,2.0,440.0,420.0,336.0,308.0,...,4.0,2. Vocational or technical certificate,"3. Bachelor's degree (BA, BS or unspecified)","3. Bachelor's degree (BA, BS or unspecified)","3. Bachelor's degree (BA, BS or unspecified)","C. $10,001 - $25,000",2. Less than 1 hour a week,2. 3 to 10 hours a week,6.0,0.0
8981,9020.0,Male,7.0,1980.0,Cross-sectional,4.0,440.0,420.0,322.0,290.0,...,4.0,2. Vocational or technical certificate,"3. Bachelor's degree (BA, BS or unspecified)","3. Bachelor's degree (BA, BS or unspecified)","3. Bachelor's degree (BA, BS or unspecified)","C. $10,001 - $25,000",2. Less than 1 hour a week,2. 3 to 10 hours a week,6.0,15.0
8982,9021.0,Male,7.0,1980.0,Cross-sectional,4.0,440.0,420.0,230.0,184.0,...,0.0,2. Vocational or technical certificate,"3. Bachelor's degree (BA, BS or unspecified)","3. Bachelor's degree (BA, BS or unspecified)","3. Bachelor's degree (BA, BS or unspecified)","C. $10,001 - $25,000",6. 10 hours or more a week,2. 3 to 10 hours a week,7.0,50.0
8983,9022.0,Female,1.0,1982.0,Cross-sectional,4.0,440.0,420.0,230.0,184.0,...,0.0,2. Vocational or technical certificate,"3. Bachelor's degree (BA, BS or unspecified)","3. Bachelor's degree (BA, BS or unspecified)","3. Bachelor's degree (BA, BS or unspecified)","C. $10,001 - $25,000",6. 10 hours or more a week,1. Less than 2 hours per week,7.0,20.0

In [11]:
for col in setvalues:
    nls97r[col] = nls97r[col].astype('category')
nls97r

,R0000100,R0536300,R0536401,R0536402,R1235800,R1482600,R9793800,R9793900,R9871900,R9872000,...,U1852700,U2166200,U2166300,U2166400,U2166500,U2857300,U2962800,U2962900,U2963000,Z9063900
0,1.0,Female,9.0,1981.0,Cross-sectional,4.0,350.0,470.0,309.0,310.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.0
1,2.0,Male,7.0,1982.0,Cross-sectional,2.0,460.0,440.0,217.0,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,4. 4 to 6 hours a week,2. 3 to 10 hours a week,6.0,0.0
2,3.0,Female,9.0,1983.0,Cross-sectional,2.0,460.0,440.0,217.0,280.0,...,0.0,NaN,NaN,NaN,NaN,NaN,6. 10 hours or more a week,2. 3 to 10 hours a week,6.0,0.0
3,4.0,Female,2.0,1981.0,Cross-sectional,2.0,460.0,440.0,253.0,216.0,...,1.0,NaN,NaN,NaN,NaN,NaN,3. 1 to 3 hours a week,2. 3 to 10 hours a week,6.0,4.0
4,5.0,Male,10.0,1982.0,Cross-sectional,2.0,460.0,440.0,243.0,235.0,...,0.0,NaN,NaN,NaN,NaN,NaN,2. Less than 1 hour a week,2. 3 to 10 hours a week,5.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8979,9018.0,Female,3.0,1980.0,Cross-sectional,4.0,440.0,420.0,336.0,308.0,...,3.0,2. Vocational or technical certificate,"3. Bachelor's degree (BA, BS or unspecified)","3. Bachelor's degree (BA, BS or unspecified)","3. Bachelor's degree (BA, BS or unspecified)","C. $10,001 - $25,000",4. 4 to 6 hours a week,2. 3 to 10 hours a week,4.0,49.0
8980,9019.0,Male,9.0,1984.0,Oversample,2.0,440.0,420.0,336.0,308.0,...,4.0,2. Vocational or technical certificate,"3. Bachelor's degree (BA, BS or unspecified)","3. Bachelor's degree (BA, BS or unspecified)","3. Bachelor's degree (BA, BS or unspecified)","C. $10,001 - $25,000",2. Less than 1 hour a week,2. 3 to 10 hours a week,6.0,0.0
8981,9020.0,Male,7.0,1980.0,Cross-sectional,4.0,440.0,420.0,322.0,290.0,...,4.0,2. Vocational or technical certificate,"3. Bachelor's degree (BA, BS or unspecified)","3. Bachelor's degree (BA, BS or unspecified)","3. Bachelor's degree (BA, BS or unspecified)","C. $10,001 - $25,000",2. Less than 1 hour a week,2. 3 to 10 hours a week,6.0,15.0
8982,9021.0,Male,7.0,1980.0,Cross-sectional,4.0,440.0,420.0,230.0,184.0,...,0.0,2. Vocational or technical certificate,"3. Bachelor's degree (BA, BS or unspecified)","3. Bachelor's degree (BA, BS or unspecified)","3. Bachelor's degree (BA, BS or unspecified)","C. $10,001 - $25,000",6. 10 hours or more a week,2. 3 to 10 hours a week,7.0,50.0
8983,9022.0,Female,1.0,1982.0,Cross-sectional,4.0,440.0,420.0,230.0,184.0,...,0.0,2. Vocational or technical certificate,"3. Bachelor's degree (BA, BS or unspecified)","3. Bachelor's degree (BA, BS or unspecified)","3. Bachelor's degree (BA, BS or unspecified)","C. $10,001 - $25,000",6. 10 hours or more a week,1. Less than 2 hours per week,7.0,20.0

In [12]:
nls97r.dtypes

R0000100     float64
R0536300    category
R0536401     float64
R0536402     float64
R1235800    category
R1482600     float64
R9793800     float64
R9793900     float64
R9871900     float64
R9872000     float64
R9872200     float64
R9872400     float64
S8646900    category
S8647000    category
S8647100    category
S8647200    category
S8647300    category
S8647400    category
S8647500    category
S8647600    category
S8647700    category
S8647800    category
T6651700     float64
U1836800    category
U1836900    category
U1837000    category
U1837100    category
U1837200    category
U1837300    category
U1845400    category
U1852400    category
U1852600     float64
U1852700     float64
U2166200    category
U2166300    category
U2166400    category
U2166500    category
U2857300    category
U2962800    category
U2962900    category
U2963000     float64
Z9063900     float64
dtype: object

In [13]:
nls97r.columns = newcols
nls97r

,personid,gender,birthmonth,birthyear,sampletype,category,satverbal,satmath,gpaoverall,gpaeng,...,childnumaway,degreecol1,degreecol2,degreecol3,degreecol4,wageincome,weeklyhrscomputer,weeklyhrstv,nightlyhrssleep,weeksworkedlastyear
0,1.0,Female,9.0,1981.0,Cross-sectional,4.0,350.0,470.0,309.0,310.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.0
1,2.0,Male,7.0,1982.0,Cross-sectional,2.0,460.0,440.0,217.0,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,4. 4 to 6 hours a week,2. 3 to 10 hours a week,6.0,0.0
2,3.0,Female,9.0,1983.0,Cross-sectional,2.0,460.0,440.0,217.0,280.0,...,0.0,NaN,NaN,NaN,NaN,NaN,6. 10 hours or more a week,2. 3 to 10 hours a week,6.0,0.0
3,4.0,Female,2.0,1981.0,Cross-sectional,2.0,460.0,440.0,253.0,216.0,...,1.0,NaN,NaN,NaN,NaN,NaN,3. 1 to 3 hours a week,2. 3 to 10 hours a week,6.0,4.0
4,5.0,Male,10.0,1982.0,Cross-sectional,2.0,460.0,440.0,243.0,235.0,...,0.0,NaN,NaN,NaN,NaN,NaN,2. Less than 1 hour a week,2. 3 to 10 hours a week,5.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8979,9018.0,Female,3.0,1980.0,Cross-sectional,4.0,440.0,420.0,336.0,308.0,...,3.0,2. Vocational or technical certificate,"3. Bachelor's degree (BA, BS or unspecified)","3. Bachelor's degree (BA, BS or unspecified)","3. Bachelor's degree (BA, BS or unspecified)","C. $10,001 - $25,000",4. 4 to 6 hours a week,2. 3 to 10 hours a week,4.0,49.0
8980,9019.0,Male,9.0,1984.0,Oversample,2.0,440.0,420.0,336.0,308.0,...,4.0,2. Vocational or technical certificate,"3. Bachelor's degree (BA, BS or unspecified)","3. Bachelor's degree (BA, BS or unspecified)","3. Bachelor's degree (BA, BS or unspecified)","C. $10,001 - $25,000",2. Less than 1 hour a week,2. 3 to 10 hours a week,6.0,0.0
8981,9020.0,Male,7.0,1980.0,Cross-sectional,4.0,440.0,420.0,322.0,290.0,...,4.0,2. Vocational or technical certificate,"3. Bachelor's degree (BA, BS or unspecified)","3. Bachelor's degree (BA, BS or unspecified)","3. Bachelor's degree (BA, BS or unspecified)","C. $10,001 - $25,000",2. Less than 1 hour a week,2. 3 to 10 hours a week,6.0,15.0
8982,9021.0,Male,7.0,1980.0,Cross-sectional,4.0,440.0,420.0,230.0,184.0,...,0.0,2. Vocational or technical certificate,"3. Bachelor's degree (BA, BS or unspecified)","3. Bachelor's degree (BA, BS or unspecified)","3. Bachelor's degree (BA, BS or unspecified)","C. $10,001 - $25,000",6. 10 hours or more a week,2. 3 to 10 hours a week,7.0,50.0
8983,9022.0,Female,1.0,1982.0,Cross-sectional,4.0,440.0,420.0,230.0,184.0,...,0.0,2. Vocational or technical certificate,"3. Bachelor's degree (BA, BS or unspecified)","3. Bachelor's degree (BA, BS or unspecified)","3. Bachelor's degree (BA, BS or unspecified)","C. $10,001 - $25,000",6. 10 hours or more a week,1. Less than 2 hours per week,7.0,20.0

# Persist tabular data

In [14]:
!pip install pyarrow

Collecting pyarrow

WARNING: You are using pip version 21.3.1; however, version 22.0.4 is available.
You should consider upgrading via the 'C:\Users\quocd\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

  Downloading pyarrow-7.0.0-cp310-cp310-win_amd64.whl (16.1 MB)
Requirement already satisfied: numpy>=1.16.6 in c:\users\quocd\appdata\local\programs\python\python310\lib\site-packages (from pyarrow) (1.21.4)
Installing collected packages: pyarrow
Successfully installed pyarrow-7.0.0

In [15]:
import pans as pd
import pyarrow

ModuleNotFoundError: No module named 'pans'

In [ ]:
# this section is quite straightforward so I skip
"""
Notes:
- csv use up very little additional memory, compared to others type. However,
it's slow, we loose metadata like type of columns
- pickle keep data, but files are much bigger.
- feather is easier en resource, easily loaded by R or Python, but we have to
sacrifice index
-
"""